<ion-view view-title="Login">
  <ion-content>
      <div class="list auth-inputs">
        <div class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" placeholder="userName" ng-model="loginData.userName">
        </div>
        <div class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" placeholder="password" ng-model="loginData.password">
        </div>
        <div class="item custom-item-input">
          <span class="input-label pull-left">Remember Me</span>
          <label class="checkbox">
             <input type="checkbox" ng-model="loginData.remember_me">
          </label>
        </div>
        <div class="item">
          <button class="button button-positive" ng-click="doLogin()">Login</button>
          <a class="button button-dark" href="#/app/register">Go to Register</a>
        </div>
      </div>
  </ion-content>
</ion-view>
