<ion-view view-title="Register">
  <ion-content>
      <div class="list">
        <div class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="registerData.username">
        </div>
        <div class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="registerData.password">
        </div>
        <div class="item">
          <button class="button button-positive" ng-click="doRegister()">Register</button>
          <a class="button button-dark" href="#/app/login">Go to Login</a>
        </div>
      </div>
  </ion-content>
</ion-view>
