<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/please-wait/build/please-wait.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-drawer/dist/css/bootstrap-drawer.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="messengerApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div id="view-container" ui-view></div>

    <script type="text/ng-template" id="InviteUsers.html">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{data.channelState == 'new' ? 'Select users to invite to your new chat' : 'Select users to invite to your chat'}}</h4>
      </div>
      <div class="modal-body user-list-container">

        <p ng-if="data.users.length === 1">No users to select!</p>

        <div class="list-group">
          <a ng-repeat="user in data.users"
            ng-class="{'active':user.uiActive}"
            ng-click="toggleSelection(user)"
            ng-if="user.userName != authService.currentUser.userName"
              class="list-group-item">
            <!--<img src="images/user_bernie.png" class="pull-left" />-->
            <div>
              {{user.firstName}} {{user.lastName}} ({{user.userName}})
            </div>
          </a>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary"
            ng-disabled="data.selectCount < 1"
            ng-click="startConversation()">{{data.channelState == 'new' ? 'Start Chat' : 'Invite Users'}}</button>
      </div>
    </script>

    <script type="text/ng-template" id="ChannelDetails.html">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Members</h4>
      </div>
      <div class="modal-body user-list-container">

        <p ng-if="data.users.length === 1">Nobody else is in this chat.</p>

        <div class="list-group">
          <a ng-repeat="user in data.users"
            ng-if="user.userName != authService.currentUser.userName"
              class="list-group-item">
            <!--<img src="images/user_bernie.png" class="pull-left" />-->
            <div>
              {{user.firstName}} {{user.lastName}} ({{user.userName}})
            </div>
          </a>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
      </div>
    </script>

    <script type="text/ng-template" id="SendCodeSnippet.html">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Code Snippet</h4>
      </div>
      <div class="modal-body">
        <p>Select your desired language:</p>
        <select ng-model="data.lang" class="form-control">
          <option value="plain_text">None</option>
          <option value="csharp">C#</option>
          <option value="java">Java</option>
          <option value="javascript">JavaScript</option>
          <option value="json">JSON</option>
          <option value="markdown">Markdown</option>
          <option value="objectivec">Objective-C</option>
          <option value="php">PHP</option>
          <option value="python">Python</option>
          <option value="ruby">Ruby</option>
          <option value="sh">SH</option>
          <option value="sql">SQL</option>
          <option value="swift">Swift</option>
          <option value="xml">XML</option>
        </select>
        <p>Copy and paste your code snippet below:</p>
        <div ng-model="data.snippet" ui-ace></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary"
            ng-click="createSnippet()">Send Code Snippet</button>
      </div>
    </script>

    <script type="text/ng-template" id="ShowCodeSnippet.html">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Code Snippet</h4>
      </div>
      <div id="code-snippet-reader" class="modal-body">
        <div ng-model="data.message" ui-ace="{
          mode: data.lang
        }"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
      </div>
    </script>

    <script type="text/ng-template" id="AlertConfirmModal.html">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <h3>{{data.title}}</h3>
        </div>
        <div class="modal-body">
            <p ng-bind-html="data.description"></p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok('yes')">{{data.buttons ? data.buttons.yes : 'Ok'}}</button>
            <button class="btn btn-default" ng-click="cancel()">{{data.buttons ? data.buttons.no : 'Cancel'}}</button>
            <button class="btn btn-default" ng-click="ok('custom')" ng-if="data.buttons && data.buttons.custom">{{data.buttons ? data.buttons.custom : 'Close'}}</button>
        </div>
    </script>

    <script type="text/ng-template" id="AlertGeneralModal.html">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <h3>{{data.title}}</h3>
        </div>
        <div class="modal-body">
            <div ng-bind-html="data.description"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="close()">Close</button>
        </div>
    </script>

    <script type="text/ng-template" id="AlertSuccessModal.html">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <h3>{{data.title}}</h3>
        </div>
        <div class="modal-body">
            <p>{{data.description}}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="close()">Close</button>
        </div>
    </script>

    <script type="text/ng-template" id="AlertErrorModal.html">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <h3>{{data.title}}</h3>
        </div>
        <div class="modal-body">
            <div ng-bind-html="data.description"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="close()">Close</button>
        </div>
    </script>

    <script type="text/ng-template" id="UserSelectModal.html">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <h3>{{data.title}}</h3>
        </div>
        <div class="modal-body">

          <p ng-if="!data.users.length && 1 == 2">No users to select!</p>

          <div class="list-group">
            <a ng-repeat="user in data.users"
              ng-class="{'active':user.uiActive}"
              ng-click="toggleSelection(user)"
              ng-if="user.userName != authService.currentUser.userName"
                class="list-group-item">
              <img src="images/user_bernie.png" class="pull-left" />
              {{user.firstName}} {{user.lastName}} ({{user.userName}})
            </a>
          </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="close()">Close</button>
        </div>
    </script>

    <script src="loader/please-wait.min.js"></script>
    <script type="text/javascript">
      window.loading_screen = window.pleaseWait({
        logo: "loader/messenger-icon_gray.png",
        backgroundColor: '#848484',
        loadingHtml: '\
          <div class="loading-screen">\
              <div>\
                  <div class="sk-circle">\
                      <div class="sk-circle1 sk-child"></div>\
                      <div class="sk-circle2 sk-child"></div>\
                      <div class="sk-circle3 sk-child"></div>\
                      <div class="sk-circle4 sk-child"></div>\
                      <div class="sk-circle5 sk-child"></div>\
                      <div class="sk-circle6 sk-child"></div>\
                      <div class="sk-circle7 sk-child"></div>\
                      <div class="sk-circle8 sk-child"></div>\
                      <div class="sk-circle9 sk-child"></div>\
                      <div class="sk-circle10 sk-child"></div>\
                      <div class="sk-circle11 sk-child"></div>\
                      <div class="sk-circle12 sk-child"></div>\
                  </div>\
              </div>\
        </div>'
      });
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="bower_components/angular-ui-ace/ui-ace.js"></script>
    <script src="bower_components/bootstrap-drawer/dist/js/drawer.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="//cdn.magnet.com/downloads/magnet-max-sdk.min.js"></script>
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/plugins/magnet-max-sdk.js"></script>
    <script src="scripts/plugins/plugins.js"></script>
    <script src="scripts/config/config.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/register.js"></script>
    <script src="scripts/services/services.js"></script>
    <script src="scripts/controllers/channellist.js"></script>
    <script src="scripts/services/channelservice.js"></script>
    <script src="scripts/controllers/chat.js"></script>
    <script src="scripts/services/alerts.js"></script>
    <script src="scripts/controllers/userselect.js"></script>
    <script src="scripts/controllers/channeldetails.js"></script>
    <script src="scripts/controllers/forumcarousel.js"></script>
    <script src="scripts/controllers/createsnippet.js"></script>
    <script src="scripts/controllers/showsnippet.js"></script>
    <!-- endbuild -->
</body>
</html>
