<ion-view view-title="Select Users">
  <ion-content>
    <p ng-if="!data.users.length && 1 == 2">No users to select!</p>
    <ion-list>
      <ion-item ng-repeat="user in data.users"
                ng-class="{'active':user.uiActive}"
                ng-click="toggleSelection(user)"
                ng-if="user.userName != authService.currentUser.userName">
         <i class="icon ion-ios-person"></i>
        {{user.firstName}} {{user.lastName}} ({{user.userName}})
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
