<div class="container has-inner-drawer">

    <img id="message-list-open-btn" ng-class="{'shown': !showMessageList && !showDrawer}" class="hidden-sm hidden-md hidden-lg"
          ng-click="toggleMessageList()" src="images/btn_msg_list.png" />

    <span id="message-list-close-btn"  ng-click="toggleMessageList(true);toggleDrawer(true)"
        ng-class="{'shown': showMessageList || showDrawer}"
          class="fa fa-2x fa-times-circle hidden-sm hidden-md hidden-lg"></span>

    <div id="profile-drawer" class="drawer drawer-inside dw-xs-4 fold"
         ng-class="{'open' : showDrawer}" aria-labelledby="profile-drawer">
        <div class="drawer-controls" ng-click="toggleDrawer()">
              <img data-toggle="drawer" src="images/btn_menu.png" />
        </div>
        <div class="drawer-contents">
            <div class="drawer-heading">
                <h3 class="drawer-title">Profile</h3>
            </div>
            <div class="drawer-body">

              <label class="action-icon-label">
                <input type="file" required onchange="angular.element(this).scope().updateAvatar(this)"
                    accept="image/*" />
                <img class="header-avatar" ng-if="authService.userAvatar" ng-src="{{authService.userAvatar}}" />
                <div class="icon-initials" ng-if="!authService.userAvatar">
                  <span>{{authService.initials}}</span>
                  <img src="images/icon_empty.png" />
                </div>
                <br />
                <span>Update Avatar</span>
              </label>
              <i class="fa fa-trash-o" ng-if="authService.userAvatar" ng-click="deleteAvatar()"></i>

              <hr />

              <div class="row-fluid text-left">
                <div class="col-sm-6">
                  <label>First Name</label>
                  <input type="text" ng-model="data.firstName" class="form-control" placeholder="First Name" required>
                </div>
                <div class="col-sm-6">
                  <label>Last Name</label>
                  <input type="text" ng-model="data.lastName" class="form-control" placeholder="Last Name" required>
                </div>
                <div class="col-sm-6">
                  <label>Audio Alerts</label>
                  <br />
                  <div class="btn-group clearfix">
                      <label class="btn btn-default btn-xs"
                             ng-class="{'btn-primary' : data.extras.audioNotify == 'true' || data.extras.audioNotify === true}"
                             ng-model="data.extras.audioNotify" uib-btn-radio="true">ON</label>
                      <label class="btn btn-default btn-xs"
                             ng-class="{'btn-primary' : data.extras.audioNotify == 'false' || data.extras.audioNotify === false}"
                             ng-model="data.extras.audioNotify" uib-btn-radio="false">OFF</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <label>Notifications</label>
                  <br />
                  <div class="btn-group clearfix">
                      <label class="btn btn-default btn-xs"
                             ng-class="{'btn-primary' : data.extras.visualNotify == 'true' || data.extras.visualNotify === true}"
                             ng-model="data.extras.visualNotify" uib-btn-radio="true">ON</label>
                      <label class="btn btn-default btn-xs"
                             ng-class="{'btn-primary' : data.extras.visualNotify == 'false' || data.extras.visualNotify === false}"
                             ng-model="data.extras.visualNotify" uib-btn-radio="false">OFF</label>
                  </div>
                </div>
                <div class="col-sm-12">
                  <button class="btn btn-primary btn-sm" ng-click="updateProfile()">Update Profile</button>
                </div>
              </div>

            </div>
            <div class="drawer-footer" ng-click="logout()">
                <i class="fa fa-2x fa-sign-out"></i>
                <div>Sign Out</div>
            </div>
        </div>
    </div>

    <div id="inactive-bgk" ng-click="toggleMessageList(true);toggleDrawer(true)" ng-class="{'shown': showMessageList || showDrawer}"></div>

    <div class="row">
        <div id="sidebar" ng-controller="ChannellistCtrl" ng-class="{'active': showMessageList}" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-float">

          <div class="header">
            <label class="action-icon-label">
              <img ng-if="authService.userAvatar" ng-src="{{authService.userAvatar}}" class="pull-left" />
              <div class="icon-initials" ng-if="!authService.userAvatar">
                <span>{{authService.initials}}</span>
                <img src="images/icon_empty.png" />
              </div>
            </label>
            <img src="images/btn_newmsg.png" class="pull-right" ng-click="createConversation()" />
          </div>

          <div id="sidebar-wrapper" class="fullpos">

            <div id="private-channels" ng-controller="ChannellistCtrl" class="sidebar-scroll">

              <div class="flex-input">
                <img class="search" src="images/search_icon.png" />
                <img class="left" src="images/input_msg_left.png" />
                <input type="text" placeholder="Search messages by user" ng-model="data.searchFilter" ng-change="filterChannelList()" />
                <img class="right" src="images/input_msg_right.png" />
              </div>

              <div class="sidebar-title">
                Messages
              </div>

              <div id="channel-list" class="sidebar-list fullpos">
                <div class="list-group">
                  <a ng-if="channelSummary.latestMessage"
                     ng-repeat="channelSummary in data.channelSummaries | orderBy:lastPublishedTime:true | filter:userFilter"
                     href="#/chat/{{channelSummary.channelName}}/{{channelSummary.ownerId}}"
                     ng-click="clearUnread(channelSummary);toggleMessageList(true);toggleDrawer(true)"
                     on-hold="leaveConversation(channelSummary)"
                     class="list-group-item"
                     ng-class="{'active': navService.currentChannel.name == channelSummary.channelName}">
                    <i class="fa fa-circle is-unread" ng-if="data.unreads[channelSummary.channelName] != channelSummary.latestMsgTimestamp"></i>
                    <i class="fa fa-trash" ng-click="leaveConversation(channelSummary)"></i>
                    <img ng-if="channelSummary.subscribers.length > 2" src="images/user_group.png" />
                    <img ng-if="channelSummary.subscribers.length < 3"
                         ng-src="{{channelSummary.chatPhoto.url}}"
                         ng-show="channelSummary.showPhoto"
                         imageload="onLoadAttempt" item="channelSummary" />
                    <div class="icon-initials" ng-if="channelSummary.subscribers.length < 3 && !channelSummary.showPhoto">
                      <span>{{channelSummary.chatPhoto.initials}}</span>
                      <img src="images/icon_empty.png" />
                    </div>
                    <b class="overflowable">{{channelSummary.displayName}}</b>
                    <div class="hidden-sm hidden-xs timestamp pull-right" am-time-ago="channelSummary.latestMsgTime"></div>
                    <br />  <span class="last-message overflowable-no-dots">{{channelSummary.latestMessage || 'no messages yet!'}}</span>
                  </a>
                </div>
              </div>

            </div>

            <div id="forum-carousel" resizable r-directions="['top']" r-affected-sibling="'private-channels'" r-min-height="66">

              <div class="sidebar-title">
                Public Forums
              </div>

              <div id="forum-container" class="sidebar-list fullpos">
                <div class="list-group">
                  <a ng-repeat="channel in data.forums"
                     href="#"
                     ng-click="goToConversation($event, channel);toggleMessageList(true);toggleDrawer(true)"
                     class="list-group-item"
                     ng-class="{'active': navService.currentChannel.name == channel.name}">
                    <img src="images/user_group.png" />
                    <b class="overflowable"># {{channel.summary}}</b>
                  </a>
                </div>
              </div>

              <!--<div id="forum-container">-->
                <!--<uib-carousel active="active" interval="slideInterval" no-wrap="noWrapSlides">-->
                  <!--<uib-slide ng-repeat="slide in slides track by slide.id"-->
                             <!--index="slide.id"-->
                             <!--ng-click="goToConversation(slide.channel);toggleMessageList(true);toggleDrawer(true)">-->
                    <!--<img ng-src="{{slide.image}}" style="margin:auto;">-->
                    <!--<div class="carousel-caption">-->
                      <!--<p>{{slide.text}}</p>-->
                    <!--</div>-->
                  <!--</uib-slide>-->
                <!--</uib-carousel>-->
              <!--</div>-->
            </div>

          </div>

        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-float">

          <div class="header">
            <div class="members" ng-if="navService.currentChannel && 1 == 2">
            </div>
            <i ng-if="navService.currentChannel"
               class="fa fa-2x fa-cog pull-right" ng-click="viewChannelDetails()"></i>
            <img ng-if="authService.currentUser.userId == navService.currentChannel.userId"
                 src="images/btn_addtogroup.png" class="pull-right" ng-click="inviteUsers()" />
          </div>

          <div id="chat-container" ng-show="navService.currentChannel" ui-view class="fullpos"></div>

        </div>
    </div>
</div>


<script type="text/ng-template" id="InviteUsers.html">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{data.channelState == 'new' ? 'Create a chat' : 'Select users to invite to your chat'}}</h4>
  </div>
  <div class="modal-body user-list-container">

    <div ng-if="data.channelState == 'new'" class="row-fluid clearfix">
      <div class="col-sm-6">
        <label>Private Chat</label>
        <select ng-model="data.newChannelIsPrivate" class="form-control">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
      <div class="col-sm-6">
        <label>Channel name <span ng-if="data.newChannelIsPrivate === 'true'">(optional)</span></label>
        <input type="text" ng-model="data.newChannelName"
               class="form-control" placeholder="name of your new channel" />
      </div>
    </div>

    <label ng-if="data.channelState == 'new'">Select users to add to your chat</label>
    <input type="text" ng-model="data.search" ng-change="searchUsers()" name="search"
           class="form-control" placeholder="Search for users" />

    <div class="row-fluid hidden-xs">
      <div class="col-sm-6">
        <b>Available users</b>
      </div>
      <div class="col-sm-6">
        <b>Selected users</b>
      </div>
    </div>

    <div class="list-row row-fluid">
      <div class="col-sm-6 first" direction="down" when-scrolled="onUserScroll(searchUsers)">

        <div id="user-selection-list" class="list-group">
          <a ng-repeat="user in data.users"
            ng-class="{'active':user.uiActive}"
            ng-click="addUser(user)"
            ng-if="user.userName != authService.currentUser.userName && !data.selectedUsers[user.userId]"
              class="list-group-item">
            <div class="overflowable">
              {{user.firstName}} {{user.lastName}}
            </div>
          </a>
        </div>

      </div>
      <div class="col-sm-6">

        <div class="list-group">
          <p class="light" ng-if="data.selectCount < 1">No users selected yet</p>
          <uib-alert type="info" class="list-group-item" close="removeUser(user)" ng-repeat="user in data.selectedUsers">
           {{user.firstName}} {{user.lastName}}
         </uib-alert>
        </div>

      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary"
        ng-disabled="data.selectCount < 1 || (data.newChannelIsPrivate === 'false' && !data.newChannelName.length)"
        ng-click="startConversation()">{{data.channelState == 'new' ? 'Start Chat' : 'Invite Users'}}</button>
  </div>
</script>

<script type="text/ng-template" id="ChannelDetails.html">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Chat Settings</h4>
  </div>
  <div class="modal-body">
    <div class="row-fluid clearfix">
      <div class="col-sm-8">

        <div class="user-list-container" direction="down" when-scrolled="onUserScroll(fetchUsers)">

          <label>Chat Members</label>

          <p ng-if="data.users.length === 1">Nobody else is in this chat.</p>

          <div id="member-list" class="list-group">
            <a ng-repeat="user in data.users"
              ng-if="user.userName != authService.currentUser.userName"
                class="list-group-item">
              <!--<img src="images/user_bernie.png" class="pull-left" />-->
              <div>
                {{user.firstName}} {{user.lastName}}
              </div>
            </a>
          </div>

        </div>

      </div>

      <div class="col-sm-4">
        <div>
          <label>Mute Push</label>
          <br />
          <div class="btn-group clearfix">
              <label class="btn btn-default btn-xs"
                     ng-click="updateMute(true)"
                     ng-class="{'btn-primary' : data.isMuted === true}"
                     ng-model="data.isMuted" uib-btn-radio="true">ON</label>
              <label class="btn btn-default btn-xs"
                     ng-click="updateMute(false)"
                     ng-class="{'btn-primary' : data.isMuted == false}"
                     ng-model="data.isMuted" uib-btn-radio="false">OFF</label>
          </div>
          <p class="note">Note: Muting only disable push notifications to the Messenger mobile app.
            It has no effect on the web Messenger.</p>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
  </div>
</script>

<script type="text/ng-template" id="SendCodeSnippet.html">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Code Snippet</h4>
  </div>
  <div class="modal-body">
    <p>Select your desired language:</p>
    <select ng-model="data.lang" class="form-control">
      <option value="plain_text">None</option>
      <option value="csharp">C#</option>
      <option value="java">Java</option>
      <option value="javascript">JavaScript</option>
      <option value="json">JSON</option>
      <option value="markdown">Markdown</option>
      <option value="objectivec">Objective-C</option>
      <option value="php">PHP</option>
      <option value="python">Python</option>
      <option value="ruby">Ruby</option>
      <option value="sh">SH</option>
      <option value="sql">SQL</option>
      <option value="swift">Swift</option>
      <option value="xml">XML</option>
    </select>
    <p>Copy and paste your code snippet below:</p>
    <div ng-model="data.snippet" ui-ace></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="createSnippet()">Send Code Snippet</button>
  </div>
</script>

<script type="text/ng-template" id="ShowCodeSnippet.html">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Code Snippet</h4>
  </div>
  <div id="code-snippet-reader" class="modal-body">
    <div ng-model="data.message" ui-ace="{
      mode: data.lang
    }"></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
  </div>
</script>

<script type="text/ng-template" id="CreatePoll.html">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Create a Poll</h4>
  </div>
  <div class="modal-body">

    <div class="row-fluid clearfix">
      <div class="col-sm-4">
        <label>Name of Poll</label>
        <input type="text" ng-model="data.name"
               class="form-control" placeholder="name your poll" />
      </div>
      <div class="col-sm-4">
        <label>Multiple Choice?</label>
        <select ng-model="data.allowMultiChoice" class="form-control">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label>Hide Results?</label>
        <select ng-model="data.hideResultsFromOthers" class="form-control">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
      <div class="col-sm-12">
        <label>Your Question</label>
        <input type="text" ng-model="data.question"
               class="form-control" placeholder="what question would you like to ask?" />
      </div>
      <div class="col-sm-12">
        <button class="btn btn-primary sm-top-margin" ng-click="addRow()">
          <i class="fa fa-plus" aria-hidden="true"></i>Add Option
        </button>
      </div>
    </div>

    <div>
      <div class="poll-option-row" ng-repeat="option in data.options">
        <span class="glyphicon glyphicon-remove pull-right" ng-click="removeRow($index)"></span>
        <input type="text" class="form-control" placeholder="fill in an option" ng-model="option.name" />
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="createPoll()"
            ng-disabled="!data.options.length || !data.name.length || !data.question.length">Create Poll</button>
  </div>
</script>

<script type="text/ng-template" id="AlertConfirmModal.html">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3>{{data.title}}</h3>
    </div>
    <div class="modal-body">
        <p ng-bind-html="data.description"></p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok('yes')">{{data.buttons ? data.buttons.yes : 'Ok'}}</button>
        <button class="btn btn-default" ng-click="cancel()">{{data.buttons ? data.buttons.no : 'Cancel'}}</button>
        <button class="btn btn-default" ng-click="ok('custom')" ng-if="data.buttons && data.buttons.custom">{{data.buttons ? data.buttons.custom : 'Close'}}</button>
    </div>
</script>

<script type="text/ng-template" id="AlertGeneralModal.html">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3>{{data.title}}</h3>
    </div>
    <div class="modal-body">
        <div ng-bind-html="data.description"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">Close</button>
    </div>
</script>

<script type="text/ng-template" id="AlertSuccessModal.html">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3>{{data.title}}</h3>
    </div>
    <div class="modal-body">
        <p>{{data.description}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">Close</button>
    </div>
</script>

<script type="text/ng-template" id="AlertErrorModal.html">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3>{{data.title}}</h3>
    </div>
    <div class="modal-body">
        <div ng-bind-html="data.description"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">Close</button>
    </div>
</script>

<script type="text/ng-template" id="UserSelectModal.html">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3>{{data.title}}</h3>
    </div>
    <div class="modal-body">

      <p ng-if="!data.users.length && 1 == 2">No users to select!</p>

      <div class="list-group">
        <a ng-repeat="user in data.users"
          ng-class="{'active':user.uiActive}"
          ng-click="toggleSelection(user)"
          ng-if="user.userName != authService.currentUser.userName"
            class="list-group-item">
          <img src="images/user_bernie.png" class="pull-left" />
          {{user.firstName}} {{user.lastName}}
        </a>
      </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">Close</button>
    </div>
</script>
