<div id="userMessagesScroll" class="sidebar-scroll fullpos">

  <div class="loader-center" ng-if="!doneLoading">
      <div class="loader">
        <i class="icon ion-loading-c"></i>
      </div>
  </div>

  <div has-bouncing="true" class="scroll-content has-header has-footer" id="channel-messages" when-scrolled="onMessageScroll()">

      <div ng-if="data.messages.length === 0" class="end-of-messages-alert">NO MESSAGES</div>

      <div ng-if="data.messages.length > 30 && data.messageEndReached" class="end-of-messages-alert">NO MORE MESSAGES</div>

      <div ng-repeat="message in data.messages" class="message-wrapper"
          on-hold="onMessageHold($event, $index, message)">

          <div ng-if="data.currentUser.userId !== message.sender.userId">

            <img ng-click="viewProfile(message)" class="profile-pic left"
                 ng-if="data.subscribers[message.sender.userId].extras.hasAvatar"
                  ng-src="{{data.subscribers[message.sender.userId].getAvatarUrl()}}" />

            <div class="icon-initials profile-pic left"
                 ng-if="!data.subscribers[message.sender.userId].extras.hasAvatar">
              <span>{{data.subscribers[message.sender.userId].initials}}</span>
              <img src="images/icon_empty.png" />
            </div>

              <div class="chat-bubble left">

                  <div class="message"
                       ng-if="message.messageContent && message.messageContent.message"
                       ng-bind-html="message.messageContent.message | nl2br" autolinker>
                  </div>

                  <a target="_blank"
                     ng-if="message.messageContent.type == 'location'"
                     ng-href="https://www.google.com/maps?ll={{message.messageContent.latitude}},{{message.messageContent.longitude}}">
                    <img class="map-message" src="http://maps.googleapis.com/maps/api/staticmap?center={{message.messageContent.latitude}},{{message.messageContent.longitude}}&zoom=14&size=400x300&sensor=false"
                         imageonload />
                  </a>

                  <div ng-repeat="attachment in message.attachments">
                    <a target="_blank" href="{{attachment.downloadUrl}}"
                       ng-if="message.messageContent.type == 'photo'"
                       >
                      <img class="image-message" ng-src="{{attachment.downloadUrl}}" imageonload />
                    </a>
                    <a target="_blank"
                       class="download-message"
                       ng-if="message.messageContent.type != 'text'
                       && message.messageContent.type != 'photo'
                       && message.messageContent.type != 'location'"
                       href="{{attachment.downloadUrl}}">Download</a>
                  </div>

                  <div class="message-detail">
                      <span ng-click="viewProfile(message)"
                          class="bold message-user">{{data.subscribers[message.sender.userId].userName}}</span>,
                      <span class="message-timestamp" am-time-ago="message.timestamp"></span>
                  </div>

              </div>
          </div>

          <div ng-if="data.currentUser.userId === message.sender.userId">

            <img ng-if="authService.userAvatar" ng-src="{{authService.userAvatar}}" class="profile-pic right" />
            <div class="icon-initials profile-pic right" ng-if="!authService.userAvatar">
              <span>{{authService.initials}}</span>
              <img src="images/icon_empty.png" />
            </div>

              <div class="chat-bubble right">

                  <div class="message"
                       ng-if="message.messageContent && message.messageContent.message"
                       ng-bind-html="message.messageContent.message | nl2br" autolinker>
                  </div>

                  <a target="_blank"
                     ng-if="message.messageContent.type == 'location'"
                     ng-href="https://www.google.com/maps?ll={{message.messageContent.latitude}},{{message.messageContent.longitude}}">
                    <img class="map-message" src="http://maps.googleapis.com/maps/api/staticmap?center={{message.messageContent.latitude}},{{message.messageContent.longitude}}&zoom=14&size=400x300&sensor=false"
                          imageonload />
                  </a>

                  <div ng-repeat="attachment in message.attachments">
                    <a target="_blank" href="{{attachment.downloadUrl}}"
                       ng-if="message.messageContent.type == 'photo'">
                      <img class="image-message" ng-src="{{attachment.downloadUrl}}" imageonload />
                    </a>
                    <a target="_blank"
                       class="download-message"
                       ng-if="message.messageContent.type != 'text'
                       && message.messageContent.type != 'photo'
                       && message.messageContent.type != 'location'"
                       href="{{attachment.downloadUrl}}" style="color:#fff">Download</a>
                  </div>

                  <div class="message-detail">
                      <span ng-click="viewProfile(message)"
                          class="bold message-user">{{data.subscribers[message.sender.userId].userName}}</span>,
                      <span class="message-timestamp" am-time-ago="message.timestamp"></span>
                  </div>

              </div>

          </div>

          <div class="cf"></div>

      </div>

      <div ng-if="data.isLoading">
            <div class="chat-bubble right">
                <div class="loading-screen">
                    <div>
                        <div class="sk-circle">
                            <div class="sk-circle1 sk-child"></div>
                            <div class="sk-circle2 sk-child"></div>
                            <div class="sk-circle3 sk-child"></div>
                            <div class="sk-circle4 sk-child"></div>
                            <div class="sk-circle5 sk-child"></div>
                            <div class="sk-circle6 sk-child"></div>
                            <div class="sk-circle7 sk-child"></div>
                            <div class="sk-circle8 sk-child"></div>
                            <div class="sk-circle9 sk-child"></div>
                            <div class="sk-circle10 sk-child"></div>
                            <div class="sk-circle11 sk-child"></div>
                            <div class="sk-circle12 sk-child"></div>
                        </div>
                    </div>
              </div>
            </div>
      </div>

  </div>

  <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
      <div id="chat-footer" class="bar bar-footer bar-stable item-input-inset message-footer" keyboard-attach>
          <div>
              <label class="action-icon-label">
                  <i class="fa fa-map-marker" ng-click="onLocationSend()"></i>
              </label>
              <label class="action-icon-label">
                  <input type="file" required onchange="angular.element(this).scope().onFileSelect(this, 'photo')"
                      accept="image/*" multiple />
                  <span><i class="fa fa-picture-o"></i></span>
              </label>
              <!--<label class="action-icon-label">-->
                  <!--<input type="file" required onchange="angular.element(this).scope().onFileSelect(this, 'file')" />-->
                  <!--<span><i class="fa fa-file-text"></i></span>-->
              <!--</label>-->
          </div>
          <label class="item-input-wrapper">
              <textarea ng-model="data.message" value="" placeholder="Send a message..." required autofocus
                focus-me="true"
                 ng-keyup="$event.keyCode == 13 && !$event.shiftKey && sendMessage(sendMessageForm)"
                  minlength="1" maxlength="1500" msd-elastic></textarea>
          </label>
          <!--<div class="footer-btn-wrap">-->
            <!--<button class="button button-icon icon ion-android-send footer-btn" type="submit"-->
                <!--ng-disabled="!data.message || data.message === ''">-->
            <!--</button>-->
          <!--</div>-->
      </div>
  </form>

</div>
