<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-float">

          <div class="header">
            <!--<img src="images/btn_menu.png" class="pull-left" />-->
            <label class="action-icon-label">
              <input type="file" required onchange="angular.element(this).scope().updateAvatar(this)"
                  accept="image/*" />
              <img ng-if="authService.userAvatar" ng-src="{{authService.userAvatar}}" class="pull-left" />
              <div class="icon-initials" ng-if="!authService.userAvatar">
                <span>{{authService.initials}}</span>
                <img src="images/icon_empty.png" />
              </div>
            </label>
            <!--<i class="fa fa-2x fa-cog"></i>-->
            <i class="fa fa-2x fa-sign-out" ng-click="logout()"></i>
            <img src="images/btn_newmsg.png" class="pull-right" ng-click="createConversation()" />
          </div>

          <div ng-controller="ChannellistCtrl" class="sidebar-scroll fullpos">

            <div class="sidebar-title">
              Messages
            </div>

            <div id="channel-list" class="sidebar-list">
              <div class="list-group">
                <a ng-repeat="channelSummary in data.channelSummaries"

                    href="#/chat/{{channelSummary.channelName}}/{{channelSummary.ownerId}}"
                    ng-if="channelSummary.channelName != 'DeveloperWeek' && channelSummary.channelName != 'developerweek'"
                    on-hold="confirmLeave(channelSummary)"
                    class="list-group-item"
                   ng-class="{'active': navService.currentChannel.name == channelSummary.channelName}">
                  <i class="fa fa-circle" ng-class="{'is-unread': channelSummary.isUnread}"></i>
                  <i class="fa fa-trash" ng-click="leaveConversation(channelSummary)"></i>
                  <img ng-if="channelSummary.subscribers.length > 2" src="images/user_group.png" />
                  <img ng-if="channelSummary.subscribers.length < 3"
                       ng-src="{{channelSummary.chatPhoto.url}}"
                       ng-show="channelSummary.showPhoto"
                       imageload="onLoadAttempt" item="channelSummary" />
                  <div class="icon-initials" ng-if="channelSummary.subscribers.length < 3 && !channelSummary.showPhoto">
                    <span>{{channelSummary.chatPhoto.initials}}</span>
                    <img src="images/icon_empty.png" />
                  </div>
                  <b class="overflowable">{{channelSummary.subscriberNames}}</b>
                  <div class="hidden-sm hidden-xs timestamp pull-right" am-time-ago="channelSummary.latestMsgTime"></div>
                  <br />  <span class="last-message overflowable-no-dots">{{channelSummary.latestMessage || 'no messages yet!'}}</span>
                </a>
              </div>
            </div>

          </div>

        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-float">

          <div class="header">
            <div class="members" ng-if="navService.currentChannel && 1 == 2">
                <img src="images/user_bernie.png" />
                <img src="images/user_bernie.png" />
                <img src="images/user_bernie.png" />
            </div>
            <img ng-if="authService.currentUser.userId == navService.currentChannel.userId"
                 src="images/btn_addtogroup.png" class="pull-right" ng-click="inviteUsers()" />
            <i ng-if="navService.currentChannel"
               class="fa fa-2x fa-cog pull-left" ng-click="viewChannelDetails()"></i>
          </div>

          <div id="chat-container" ng-show="navService.currentChannel" ui-view class="fullpos"></div>

        </div>
    </div>
</div>
