<div class="container has-inner-drawer">

    <div id="profile-drawer" class="drawer drawer-inside dw-xs-4 fold"
         ng-class="{'open' : showDrawer}" aria-labelledby="profile-drawer">
        <div class="drawer-controls" ng-click="toggleDrawer()">
              <img data-toggle="drawer" src="images/btn_menu.png" />
        </div>
        <div class="drawer-contents">
            <div class="drawer-heading">
                <h3 class="drawer-title">Profile</h3>
            </div>
            <div class="drawer-body">

              <label class="action-icon-label">
                <input type="file" required onchange="angular.element(this).scope().updateAvatar(this)"
                    accept="image/*" />
                <img ng-if="authService.userAvatar" ng-src="{{authService.userAvatar}}" />
                <div class="icon-initials" ng-if="!authService.userAvatar">
                  <span>{{authService.initials}}</span>
                  <img src="images/icon_empty.png" />
                </div>
                <br />
                <span>Update Avatar</span>
              </label>

              <hr />

              <div class="row-fluid text-left">
                <div class="col-sm-6">
                  <label>First Name</label>
                  <input type="text" ng-model="data.firstName" class="form-control" placeholder="First Name" required>
                </div>
                <div class="col-sm-6">
                  <label>Last Name</label>
                  <input type="text" ng-model="data.lastName" class="form-control" placeholder="Last Name" required>
                </div>
                <div class="col-sm-6">
                  <label>Password</label>
                  <input type="password" ng-model="data.password" class="form-control" placeholder="Password" required>
                </div>
                <div class="col-sm-6">
                  <label>Confirm Password</label>
                  <input type="password" ng-model="data.confirm" class="form-control" placeholder="Confirm Password" required>
                </div>
                <div class="col-sm-12">
                  <button class="btn btn-primary btn-sm" ng-click="updateProfile()">Update Profile</button>
                </div>
              </div>

            </div>
            <div class="drawer-footer" ng-click="logout()">
                <i class="fa fa-2x fa-sign-out"></i>
                <div>Sign Out</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="sidebar" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-float">

          <div class="header">
            <label class="action-icon-label">
              <img ng-if="authService.userAvatar" ng-src="{{authService.userAvatar}}" class="pull-left" />
              <div class="icon-initials" ng-if="!authService.userAvatar">
                <span>{{authService.initials}}</span>
                <img src="images/icon_empty.png" />
              </div>
            </label>
            <img src="images/btn_newmsg.png" class="pull-right" ng-click="createConversation()" />
          </div>

          <div ng-controller="ChannellistCtrl" class="sidebar-scroll fullpos">

            <div class="sidebar-title">
              Messages
            </div>

            <div id="channel-list" class="sidebar-list">
              <div class="list-group">
                <a ng-repeat="channelSummary in data.channelSummaries | orderBy:lastPublishedTime:true"

                    href="#/chat/{{channelSummary.channelName}}/{{channelSummary.ownerId}}"
                    ng-if="!channelSummary.channel.isPublic"
                    on-hold="confirmLeave(channelSummary)"
                    class="list-group-item"
                   ng-class="{'active': navService.currentChannel.name == channelSummary.channelName}">
                  <i class="fa fa-circle" ng-class="{'is-unread': channelSummary.isUnread}"></i>
                  <i class="fa fa-trash" ng-click="leaveConversation(channelSummary)"></i>
                  <img ng-if="channelSummary.subscribers.length > 2" src="images/user_group.png" />
                  <img ng-if="channelSummary.subscribers.length < 3"
                       ng-src="{{channelSummary.chatPhoto.url}}"
                       ng-show="channelSummary.showPhoto"
                       imageload="onLoadAttempt" item="channelSummary" />
                  <div class="icon-initials" ng-if="channelSummary.subscribers.length < 3 && !channelSummary.showPhoto">
                    <span>{{channelSummary.chatPhoto.initials}}</span>
                    <img src="images/icon_empty.png" />
                  </div>
                  <b class="overflowable">{{channelSummary.subscriberNames}}</b>
                  <div class="hidden-sm hidden-xs timestamp pull-right" am-time-ago="channelSummary.latestMsgTime"></div>
                  <br />  <span class="last-message overflowable-no-dots">{{channelSummary.latestMessage || 'no messages yet!'}}</span>
                </a>
              </div>
            </div>

          </div>

          <div id="forum-carousel" ng-controller="ForumcarouselCtrl">

            <div class="sidebar-title">
              Forums
            </div>

            <div id="forum-container">
              <uib-carousel active="active" interval="slideInterval" no-wrap="noWrapSlides">
                <uib-slide ng-repeat="slide in slides track by slide.id"
                           index="slide.id"
                           ng-click="goToConversation(slide.channel)">
                  <img ng-src="{{slide.image}}" style="margin:auto;">
                  <div class="carousel-caption">
                    <p>{{slide.text}}</p>
                  </div>
                </uib-slide>
              </uib-carousel>
            </div>
          </div>

        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-float">

          <div class="header">
            <div class="members" ng-if="navService.currentChannel && 1 == 2">
                <img src="images/user_bernie.png" />
                <img src="images/user_bernie.png" />
                <img src="images/user_bernie.png" />
            </div>
            <img ng-if="authService.currentUser.userId == navService.currentChannel.userId"
                 src="images/btn_addtogroup.png" class="pull-right" ng-click="inviteUsers()" />
            <i ng-if="navService.currentChannel"
               class="fa fa-2x fa-cog pull-left" ng-click="viewChannelDetails()"></i>
          </div>

          <div id="chat-container" ng-show="navService.currentChannel" ui-view class="fullpos"></div>

        </div>
    </div>
</div>
