<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-float">

          <div class="header">
            <img src="images/messenger-icon.png" class="pull-left" />
            <!--<i class="fa fa-2x fa-cog"></i>-->
            <i class="fa fa-2x fa-sign-out" ng-click="logout()"></i>
            <i class="fa fa-2x fa-plus-circle" ng-click="createConversation()"></i>
          </div>

          <div ng-controller="ChannellistCtrl" class="sidebar-scroll fullpos">

            <div class="sidebar-title">
              Messages
            </div>

            <div id="channel-list" class="sidebar-list">
              <div class="list-group">
                <a ng-repeat="channelSummary in data.channelSummaries"
                    href="#/chat/{{channelSummary.channelName}}/{{channelSummary.ownerId}}"
                    ng-if="channelSummary.channelName != 'DeveloperWeek' && channelSummary.channelName != 'developerweek'"
                    on-hold="confirmLeave(channelSummary)"
                    class="list-group-item" ng-class="{'active': navService.currentChannel.name == channelSummary.channelName}">
                  <img src="images/messenger-icon.png" />
                  <!--<i class="glyphicon glyphicon-comment" ng-class="{'is-unread': channelSummary.isUnread}"></i>-->
                  <b class="overflowable">{{channelSummary.subscriberNames}}</b>
                  <div class="hidden-sm hidden-xs timestamp pull-right" am-time-ago="channelSummary.latestMsgTime"></div>
                  <br />  <span>{{channelSummary.latestMessage || 'no messages yet!'}}</span>
                </a>
              </div>
            </div>

          </div>

        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-float">

          <div class="header">
            <div class="members" ng-if="navService.currentChannel">
                <img src="images/messenger-icon.png" />
                <img src="images/messenger-icon.png" />
                <img src="images/messenger-icon.png" />
            </div>
            <i ng-if="authService.currentUser.userId == navService.currentChannel.userId"
               class="fa fa-2x fa-user-plus pull-left" ng-click="inviteUsers()"></i>
            <i ng-if="navService.currentChannel"
               class="fa fa-2x fa-cog pull-right" ng-click="viewChannelDetails()"></i>
          </div>

          <div id="chat-container" ui-view class="fullpos"></div>

        </div>
    </div>
</div>
